<!DOCTYPE html>
<html>
<head>
  <title>Male Measurements</title>
</head>
<body>
  <h2>Male Measurement Form</h2>
  <form action="/customer/measurements" method="POST">
    <input type="hidden" name="gender" value="male">
    <label>Chest:</label><br>
    <input type="text" name="chest"><br><br>
    <label>Waist:</label><br>
    <input type="text" name="waist"><br><br>
    <label>Hip:</label><br>
    <input type="text" name="hip"><br><br>
    <label>Inseam:</label><br>
    <input type="text" name="inseam"><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
